    <!-- Newsletter Bar -->
    <div class="newsletter-bar">
        <div class="container">
            <a href="{% url 'signup' %}" class="newsletter-link">SIGN UP FOR OUR NEWSLETTER</a>
        </div>
    </div>

    <!-- Header -->
    <header class="header-purple">
        <div class="container text-center">
            <h1 class="display-4">PRODUCTS</h1>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container py-5">
        <div class="row">
            <!-- Products Grid -->
            <div class="col-12">
                <div class="row">
                    {% for i in products %}
                        <!-- Product Card -->
                        <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                            <div class="card product-card">
                               <a href="{% url 'product_detail' i.id %}"><img src="{{ i.image1.url }}" class="card-img-top product-image" alt="Amino Build"></a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ i.title }}</h5>
                                    <p class="category-tag">{{ i.category }}</p>
                                    <a href="{% url 'cart' %}" class="btn btn-sm btn-outline-dark mt-2">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>