   {% load static %}
   <!-- Header -->
    <header class="header-purple">
        <div class="container text-center">
            <h1 class="display-4">INTERNATIONAL BRANDS</h1>
        </div>
    </header>


<!-- Info Section -->
<div class="container text-center my-4">
    <p>Please see the list of Approved International Distributors for Flex forge products.</p>
    <p>For more information on any of the Flex forge products, <a href="{% url 'product_buy' %}">click here</a>.</p>
    <p>To learn how to spot counterfeit products, <a href="#">click here</a>.</p>
    <p><a href="#">Click here</a> to view unapproved distributors.</p>
</div>

<!-- Navigation Tabs -->
<div class="container text-center">
    <ul class="nav nav-pills justify-content-center mb-4">
        <li class="nav-item">
            <a class="nav-link" href="#">Africa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Asia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Australia & Oceania</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Europe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Central America</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">South America</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Caribbean</a>
        </li>
    </ul>
</div>

<!-- Distributors Section -->
<div class="container">
    <div class="row justify-content-center">
        <!-- Card 1 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card text-center">
                <img src="{% static 'images/contry.webp' %}" class="card-img-top" alt="Best Form">
                <div class="card-body">
                    <h5 class="card-title">MUSCLETECH</h5>
                    <p>
                        +231 561 63 61 60 <br>
                        +213 555 21 95 19v <br>
                        Store Locator <br>
                        Facebook <br>
                        www.muscletech.com
                    </p>  
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card text-center">
                <img src="{% static 'images/contry1.webp' %}" class="card-img-top" alt="Kalahari Medical">
                <div class="card-body">
                    <h5 class="card-title">PROVIT</h5>
                    <p>
                        +231 561 63 61 60 <br>
                        +213 555 21 95 19v <br>
                        Store Locator <br>
                        Facebook <br>
                        www.provit.com
                    </p> 
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card text-center">
                <img src="{% static 'images/contry2.webp' %}" class="card-img-top" alt="First Nutrition">
                <div class="card-body">
                    <h5 class="card-title">GNC</h5>
                    <p>
                        +231 561 63 61 60 <br>
                        +213 555 21 95 19v <br>
                        Store Locator <br>
                        Facebook <br>
                        www.gnc.com
                    </p> 
                </div>
            </div>
        </div>
    </div>
</div>




